<!DOCTYPE html>
<head>
  <title>StuyApp</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/united/bootstrap.min.css">
</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-resnponsive-collapse">
	<span class="sr-only">Toggle navigation</span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
	{% block navbarl %}
	{% endblock navbarl %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
	{% block navbarr %}
	{% endblock navbarr %}
      </ul>
    </div>
  </div>
</nav>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="navbar navbar-inverse navbar-fixed-bottom">
    {% for message in messages %}
    <p class="navbar-text" style="margin-left: 100px;"> {{ message }}</p>
    {% endfor %}
</div>
{% endif %}
{% endwith %}

<body>
{% block bodycontent %}
{% endblock bodycontent %}
</body>
</html>
