{% extends "base.html" %}
{% block navbarl %}
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
{% endblock navbarl %}
{% block navbarr %}
<form class="navbar-form navbar-left" action="/search" method="get">
  <div class="form-group">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown<span class="caret"></span></a>
      <select class="form-control" name="select">
        <option value="class">Class</option>
        <option value="teacher">Teacher</option>
        <option value="student">Student</option>
      </select>
    </li>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="search" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>
<li class="active"><a href="/schedule">Schedule</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock navbarr %}
{% block bodycontent %}
<div class="container jumbotron" style="border-radius:30px">
  <h2> Class: {{title}} </h1>
  <h3> Classcode: {{code}} </h2>
  <!--Similar Classes: <br>
  {% for i in similar %}
  <a href="/class/{{code[:-2]+i}}"> {{code[:-2]+i}} </a> <br>
  {% endfor %}
  <br>-->
  Sections: <br>
  <ul>
    {% for i in students %}
    <li>{{i}}:</li>
    <ul>
      {% for j in students[i] %}
      <li>{{j}}</li>
      {% endfor %}
    </ul>
    <form method="POST">
      <input type="hidden" name="requested" value="{{ i|replace(',', '-') }}"></input>
      <input type="hidden" name="code" value={{code}}></input>
      <input type="submit" value="Request Section"></submit>
    </form>
    <!--<li><a href="/student/{{i}}">{{i}}</a></li>-->
    {% endfor %}
  </ul>
</div>
{% endblock bodycontent %}
</html>
