{% extends "base.html" %}
{% block navbarl %}
<li class="active"><a href="#">Home</a></li>
<li><a href="/about">About</a></li>
{% endblock navbarl %}
{% block navbarr %}
<li class="active"><a href="/login">Login</a></li>
<li><a href="/register">Register</a></li>
{% endblock navbarr %}
{% block bodycontent %}
<div class="container jumbotron" style="border-radius:30px">
<center><h1>Please Login!</h1>
<form class="pure-form pure-form-stacked" method="POST">
Username: <input type="text" name="username"></input>
<br>
<br>
Password: <input type="password" name="password"></input>
<br>
<br>

<input type="submit" name="sub" value="Login" class="btn btn-info"></submit>
</center>
</form>
</html>

{% endblock bodycontent %}
