{% extends "base.html" %}
{% block navbarl %}
<li><a href="/">Home</a></li>
<li><a href="#">About</a></li>
{% endblock navbarl %}
{% block navbarr %}
<form class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-info">Submit</button>
</form>
<li><a href="/schedule">Schedule</a></li>
<li><a href="/logout">Logout</a></li>
{% endblock navbarr %}
{% block bodycontent %}
<div class="container jumbotron" style="border-radius:30px">
  {{teacher}}'s Schedule: <br>
  <div class="row">
    <div class="col-md-1">Period</div>
    <div class="col-md-1">Class</div>
  </div>
  {% for i in range(10) %}
  <div class="row">
    <div class="col-md-1">{{i+1}}</div>
    <div class="col-md-1"><a href="/class/{{D[i+1]}}">{{D[i+1]}}</a></div>
  </div>
  {% endfor %}
  </div>
  <br><br>
  All Classes: <br>
  <ul>
    {% for i in L %}
    <li> <a href="/class/{{i}}">{{i}}</a> </li>
    {% endfor %}
  </ul>
</div>
{% endblock bodycontent %}
</html>
